MYMETA.*
META.*
Makefile.PL
Makefile.old
blib
pm_to_blib
MANIFEST
MANIFEST.bak
cover_db
_build
Build

tmp
sessions
*.db
*.sqlite3
*.sqlite3-journal
t/tmp
Paste-Bin-*
*.rpm
*.deb
.*.swp
htpasswd
*.bak
*.key
MANIFEST
logs/*.log

libpeerconnection.log
perltidy.LOG

root

debian/niftybin
debian/niftybin-server
debian/*.substvars
debian/*.log
debian/files

# vim:ft=conf
