Source: niftybin
Standards-Version: 3.9.3
Section: perl
Priority: optional
Homepage: http://niftyb.in
Maintainer: Package Monkey <packages@niftylogic.com>
Build-Depends: debhelper (>= 8),
               libdancer-perl (>= 1.3113-3),
               libjson-xs-perl,
               libtest-pod-coverage-perl,
               libtest-simple-perl,
               perl,
               perl-modules

Package: niftybin-server
Architecture: all
Description: niftyb.in server
 A nifty, single-file Dancer app that does pastebinning with the best of 'em
Depends: libdancer-perl (>= 1.3113-3),
         libyaml-libyaml-perl,
         perl,
         perl-modules,
         ${misc:Depends}

Package: niftybin
Architecture: all
Description: niftyb.in client
 A lightweight, flexible client for the niftyb.in pastebin server
Depends: libjson-api-perl,
         libyaml-libyaml-perl,
         perl,
         perl-modules,
         ${misc:Depends}
